.container-fluid.admin{
    padding-top: 25px;
}

#painel{
    padding-top: 15px;
}

input.menu_name{
    border: none;
    background: white;
    color: gray;
}

input.menu_name.editable {
    color: #000;    
  // border: 1px solid #ddd;
}

.list-group-item > .excluir_menu, .editar_menu, .adicionar_menu, .editar_categoria, .excluir_categoria  {
    float: right;
    cursor: pointer;
}

.editar_menu, .editar_categoria {
  font-size: 11px;
  line-height: 0;
  padding: 9px;
  text-align: center;
  color: #d0940a;
}

.excluir_menu, .excluir_categoria {
  font-size: 11px;
  line-height: 0;
  padding: 9px;
  text-align: center;
  color:#ff0000;
}


.adicionar_menu {
  font-size: 11px;
  line-height: 0;
  padding: 9px;
  text-align: center;
  color:#009999;
}

#content-modal.row{
    margin-left: 0px;
    margin-right:0px;    
}
