/* 
    Created on : Apr 19, 2015, 3:44:55 PM
    Author     : Rossano
*/
#painel_fotos{
    margin-top: 15px;
    padding-top: 10px;
    border-top: solid 1px #B3B4BD;
}
.col-lef{
    border:solid 1px #8B0D00;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-submit{
    margin-top: 15px;
}

#mensagem{
    margin-top: 20px;
    margin-bottom: 10px;
    text-indent: 15px;    
}

.excluir_fotografia {
  float: left;
  cursor: pointer;    
  font-size: 11px;
  line-height: 0;
  padding: 9px;
  text-align: center;
  color:#ff0000;
}



ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul li {     
    list-style:none;
    margin-bottom:25px;           
}
ul li img {
    cursor: pointer;
}
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}
/*override modal for demo only*/
.modal-dialog {
    max-width:500px;
    padding-top: 90px;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
        padding-top: 90px;
    }          
}
@media screen and (max-width:1500px){
    #ads {
        display:none;
    }
}
